.navbar{
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
}

.navbar-container{
    border: 1px black solid;
    display: inline-flex;
    
}
.navbar-container img{
    padding-top: 1em;
}
.navbar-container h1{
    font-size: 30px;
    font-weight: 900;
}

.menubar{
    border: 1px black solid;
    padding-top: 1.5em;
}
.menubar a{
    text-decoration: none;
    color:black;
    padding: 1em;
    font-size: 18px;
}
section{
    border: 1px black solid;
    background-image: url("./images/Group_14.png");
    display: flex;
    justify-content: space-around;
}
section .banner-heading{
    padding-top: 3em;
}
section .banner-heading h1{
    font-size: 40px;
}
section .banner-heading .color-heading{
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
}
section button{
    background-color: magenta;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    margin-left: 1em;
}
.first-section{
    margin-left: 2em;
    border: 1px black solid;
    background-color: rgba(248, 237, 223, 0.966);
    display: flex;
    justify-content: space-between;
}
.first-section-heading{
    margin-top: 3em;
    text-align: right;
    margin-right: 10%;
}
.first-section-heading .color-heading{
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
}
.first-section-heading button{
    background-color: magenta;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    margin-left: 1em;
}
.second-section{
    margin-top: 5em;
}
.second-section .heading-section{
    text-align: center;
}
.second-section .heading-section h1{
    font-size: 40px;
    font-weight: 700;
}
.second-section .heading-section .color-heading{
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
}
.second-section .image-section{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
}
.second-section .image-section img{
    height: 300px;
    position: relative;
}
.box p{
    text-align: left;
}
.box {
    position: relative;
    width: 280px; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    border: 3px magenta solid;
    
}

.overlay i {
    font-size: 48px;
    color: #fff; 
}

.overlay p {
    font-size: 24px;
    color: #fff; 
    margin-top: 10px;
}

.box:hover .overlay {
    opacity: 1; 
}

.third-section{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    gap: 6em;
}
.third-section .third-section-heading{
    padding-top: 5em;
    text-align: right;
}
.third-section .third-section-heading h1{
    font-size: 30px;
    font-weight: 800;
}
.third-section .third-section-heading .color-heading{
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
}
.third-section .third-section-img{
    position: relative;
}
.img1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .img2 {
    position: absolute;
    top: 300px;
    left: -100px;
  }


