.navbar{
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
}

.navbar-container{
    border: 1px black solid;
    display: inline-flex;
    
}
.navbar-container img{
    padding-top: 1em;
}
.navbar-container h1{
    font-size: 30px;
    font-weight: 900;
}

.menubar{
    border: 1px black solid;
    padding-top: 1.5em;
}
.menubar a{
    text-decoration: none;
    color:black;
    padding: 1em;
    font-size: 18px;
}
section{
    border: 1px black solid;
    background-image: url("./images/Group_14.png");
    display: flex;
    justify-content: space-around;
}
section .banner-heading{
    padding-top: 3em;
}
section .banner-heading h1{
    font-size: 40px;
}
section .banner-heading .color-heading{
    font-size: 40px;
    font-weight: 900;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
}
section button{
    background-color: magenta;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 20px;
    margin-left: 1em;
}