
nav .logo{
    float: left;
    display: flex;
    padding-left: 12%;
    /* padding-bottom: 0%;  */
}
nav .logo img{
    float: left;
    padding-top: 1em;
    height: 8vh;
}
nav .logo h1{
    font-size:30px;
    font-weight: 800;
    float: right;
    padding-top: 0em;
    height: 5vh;
}
nav .menu-container{
    float: right;
    padding-right: 12%;
    padding-top: 1.5em;
}
nav .menu-container a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0.5em;
    font-size: 20px;
}
